
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 2rem;
  background:black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
h1{
  position: fixed;
  top: 0px;
  color: white;
 
  text-shadow: 0 0px 15px white,0 0 30px white;
 }

.bento-container {

  width: 1200px;
  /* background: #00674F; */
  padding: 12px;
  border-radius: 12px;
position: relative;
top: 100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 160px;
  gap: 12px;
  transition: transform 1s ease-in ;
}
.bento-container:hover{
    box-shadow: 0px 0px 10px 3px white;
    cursor: pointer;
    transform:translateY(-20px) scale(1);
    animation:hover  2s linear infinite ;
}
@keyframes hover{
 10%{
   box-shadow: 0px 0px 10px 2px white;
 }
 20%{
   box-shadow: 0px 0px 20px 3px white;
 }
 50%{
   box-shadow: 0px 0px 25px 4px white;
 }
 100%{
   box-shadow: 0px 0px 30px 5px white;
 }
}

.bento-card {
  background: white;
  border-radius: 10px;
 transition: transform 0s infinite;
  position: relative;
  border: 2px solid white;
}
.bento-card:hover{
    box-shadow: 0px 0px 10px 2px white;
    cursor: pointer;
    transform:translateY(-10px) scale(1);
}

/* ---- BENTO SHAPE ---- */

.about {
  grid-row: span 2;
}

.featured {
  grid-column: span 2;
  grid-row: span 2;
}

.skills {
  grid-row: span 2;
}

.portfolio {
  grid-column: span 2;
}

.blog {
  grid-column: span 1;
}

.gallery {
  grid-column: span 1;
}
.tall{
    grid-row: span 2;
}
.bento-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 12px;
}


/* ---- MOBILE ---- */

@media (max-width: 768px) {
  .bento-container {
    width: 100%;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
  }

  .bento-card {
    grid-column: span 1 !important;
    grid-row: span 1 !important;
  }
}
